.market-section {
  background-color: #0f051d;
  padding: 5rem 0;
}
.market-content {
  display: flex;
  flex-direction: row;
}
.market-content h2 {
  color: #f3f2f4;
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 430px) {
  .market-content h2 {
    font-size: 4rem;
  }
}
.market-content__coin-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow-x: auto;
}
.market-content__coin-list .market-content__coin-list__top {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: #f3f2f4;
  font-size: 2.2rem;
  padding: 1.5rem;
  text-align: right;
  font-weight: 500;
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  border-radius: 8px 8px 0 0;
  gap: 2rem;
}
@media (max-width: 800px) {
  .market-content__coin-list .market-content__coin-list__top {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .market-content__coin-list .market-content__coin-list__top p {
    width: 12.5%;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .market-content__coin-list .market-content__coin-list__top {
    width: fit-content;
  }
}
.market-content__coin-list .market-content__coin-list__top p:first-child {
  text-align: left;
}
.market-content__coin-list__row {
  display: flex;
  flex-direction: column;
}
.market-content__coin-list__pagination {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.market-content__coin-list__pagination button {
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f3f2f4;
}
.market-content .activePagi {
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  color: #f3f2f4;
}
.market-content .coin-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 1.5rem;
  color: #f3f2f4;
  font-size: 2.2rem;
  text-align: right;
  font-weight: 500;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f3f2f4;
  background-color: #0f051d;
  user-select: none;
}
.market-content .coin-row:hover {
  background-color: #200840;
  cursor: pointer;
}
@media (max-width: 700px) {
  .market-content .coin-row {
    width: fit-content;
  }
}
@media (max-width: 800px) {
  .market-content .coin-row p {
    width: 15rem;
  }
}
@media (max-width: 800px) {
  .market-content .coin-row p:last-child {
    width: 23rem;
  }
}
.market-content .coin-row span {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 800px) {
  .market-content .coin-row span {
    width: 19rem;
  }
}
.market-content .coin-row span img {
  width: 5rem;
  height: 5rem;
}
